@import url("https://fontlibrary.org/face/minecraftia");

html,
body,
.wrapper {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Minecraftia", sans-serif;
  background-repeat: no-repeat;
  animation: bg-scroll 20s linear infinite;
  color: #e0dfe0;
}

.website-panorama {
  display: flex;
  position: fixed;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  animation: website-panorama 120s linear infinite;
  inset: 0;
  z-index: -1;
}

@keyframes website-panorama {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.website-panorama .panorama-0::before {
  display: block;
  content: "";
  background: url("/reindev/assets/img/panorama0.png");
  background-size: cover;
  image-rendering: crisp-edges;
  height: 1024px;
  width: 1024px;
}

.website-panorama .panorama-1::before {
  display: block;
  content: "";
  background: url("/reindev/assets/img/panorama1.png");
  background-size: cover;
  image-rendering: crisp-edges;
  height: 1024px;
  width: 1024px;
}

.website-panorama .panorama-2::before {
  display: block;
  content: "";
  background: url("/reindev/assets/img/panorama2.png");
  background-size: cover;
  image-rendering: crisp-edges;
  height: 1024px;
  width: 1024px;
}

.website-panorama .panorama-3::before {
  display: block;
  content: "";
  background: url("/reindev/assets/img/panorama3.png");
  background-size: cover;
  image-rendering: crisp-edges;
  height: 1024px;
  width: 1024px;
}

details > summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  list-style-type: none;
}

details > .menu {
  box-sizing: border-box;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::after {
  font: var(--fa-font-solid);
  content: "\f078";
  color: #646464;
  font-size: 12px;
}

details[open] > summary::after {
  font: var(--fa-font-solid);
  content: "\f077";
  color: #646464;
  font-size: 12px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: #828282;

  border-top: 2px solid #f6f6f6;
  border-left: 2px solid #f6f6f6;
  border-bottom: 2px solid #4c4c4c;
  border-right: 2px solid #4c4c4c;

  font-weight: 500;

  text-decoration: none;
  text-align: center;

  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;

  outline: none;

  cursor: default;

  font-size: 18px;

  box-shadow: 0 0 0 2px #000000;

  height: 44px;
  padding: 0 20px;
}
.btn-square {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  height: 44px;
  width: 44px;
}
.btn:hover {
  background: #6e80db;
  border-top-color: #9fbef3;
  border-left-color: #9fbef3;
  border-bottom-color: #4151ab;
  border-right-color: #4151ab;
}
.btn:hover .btn-text {
  color: #ffff92;
}
.btn .btn-text {
  display: inline-block;
  text-shadow: 1.5px 1.5px 0 rgb(0, 0, 0, 50%);
  color: #e0dfe0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: -4px;
}
.btn.btn-sm {
  font-size: 16px;
  height: 38px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-decoration-none {
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.logo-wrapper {
  animation: logo-fade-in 1.4s;
  animation-delay: 3s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 140px;
}
.logo-wrapper .top-logo {
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}
.logo-wrapper .bottom-logo {
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
  max-width: 260px;
  margin-top: -4px;
}
.logo-wrapper .splash-text {
  animation: splash-animation 0.5s linear infinite;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  text-align: center;
  cursor: default;
  position: absolute;
  top: calc(100% - 50px);
  left: calc(100% - 300px);

  font-size: 18px;

  width: 400px;

  text-shadow: 1.5px 1.5px 0 #3f3f00;
  color: #ffff00;

  font-weight: 500;
  transform: rotate(-20deg);
}

@keyframes logo-fade-in {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

li {
  list-style: none;
}
li::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 6px;
  width: 6px;
  border: 1.5px solid #646464;
  margin-right: 8px;
}

@keyframes splash-animation {
  0% {
    transform: scale(1) rotate(-20deg);
  }
  30% {
    transform: scale(1.1) rotate(-20deg);
  }
  100% {
    transform: scale(1) rotate(-20deg);
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.fw-semibold {
  font-weight: 600;
}

.modal:not(.active) {
  display: none;
}
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: url("/reindev/assets/img/dirt.png");
  animation: dirt-scroll 8s linear infinite;
  background-size: 800px;
  z-index: 999;
  inset: 0;
}
.modal-header {
  position: relative;
  background: url("/reindev/assets/img/dirt.png");
  animation: dirt-scroll 8s linear infinite;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
  background-size: 800px;
  z-index: 1200;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 10px rgb(0, 0, 0);
  padding-left: 30px;
  padding-right: 30px;
}
.modal-header-text {
  padding-top: 46px;
  padding-bottom: 12px;
  font-size: 18px;
  text-shadow: 2px 2px 0 #3f3f3f;
  color: #ffffff;
}
.modal-body-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
}
.modal::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0, 50%);
}
.modal-body {
  position: relative;
  padding: 40px 30px;
  z-index: 2;
}
.modal-body * {
  flex-grow: 1;
}
.modal-footer {
  position: relative;
  background: url("/reindev/assets/img/dirt.png");
  animation: dirt-scroll 8s linear infinite;
  background-size: 800px;
  z-index: 1200;
  box-shadow: 0 -1px 10px rgb(0, 0, 0);
  padding: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #cccccc;
  color: #404040;
  border-left: 2px solid #ebebeb;
  border-top: 2px solid #ebebeb;
  border-right: 2px solid #8e8e8e;
  border-bottom: 2px solid #8e8e8e;
  box-shadow: 0 0 0 2px #000000;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 14px;
}
.card-img-header {
  box-shadow: 0 0 0 2px #000000;
}

.text-muted {
  color: #646464;
}

.flex-grow-0 {
  flex-grow: 0;
}

@keyframes dirt-scroll {
  0% {
    background-position: 0 -20px;
  }
  100% {
    background-position: 0 -220px;
  }
}

.text-xxs {
  font-size: 10px;
}
.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 16px;
}
.text-lg {
  font-size: 18px;
}
.text-xl {
  font-size: 20px;
}
.text-2xl {
  font-size: 22px;
}
.text-3xl {
  font-size: 24px;
}
.text-4xl {
  font-size: 26px;
}
.text-5xl {
  font-size: 28px;
}

.mb-1 {
  margin-bottom: 2px;
}
.mb-2 {
  margin-bottom: 4px;
}
.mb-3 {
  margin-bottom: 6px;
}
.mb-4 {
  margin-bottom: 8px;
}
.mb-5 {
  margin-bottom: 10px;
}
.mb-10 {
  margin-bottom: 20px;
}

.mt-auto {
  margin-top: auto;
}

.title-screen-text {
  text-shadow: 1.5px 1.5px 0 rgb(0, 0, 0, 80%);
  user-select: none;
  cursor: default;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  font-size: 18px;
  color: #ffffff;
}

.title-screen-text a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.main-buttons {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  gap: 8px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
}

.side-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
}

[role="carousel"] {
  display: flex;
  align-items: center;
  gap: 20px;
}

[role="carousel-content"] {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  gap: 12px;
}

[role="carousel-increment"],
[role="carousel-decrement"] {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  font-size: 26px;
  padding: 0 10px;
  cursor: pointer;
  color: #ffffff;
}

[role="carousel-item"] {
  flex-grow: 0;
  flex-shrink: 0;
  white-space: normal;
  width: 320px;
}

@media screen and (max-width: 700px) {
  [role="carousel"] {
    flex-direction: column;
  }
  [role="carousel-decrement"] {
    display: block;
    margin-left: -40px;
    order: 1;
  }
  [role="carousel-increment"] {
    display: block;
    margin-left: 40px;
    margin-top: -50px;
    order: 2;
  }
  [role="carousel-content"] {
    order: 3;
  }
  [role="carousel-item"] {
    width: 100%;
  }
}

.loading-screen {
  position: fixed;
  inset: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: loading 3s;
  animation-timing-function: step-end;
  -webkit-animation-timing-function: step-end;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  text-shadow: 2px 2px 0 rgb(0, 0, 0);
  background: #373363;
  z-index: 11;
}

@keyframes loading {
  0% {
    opacity: 1;
    cursor: default;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.loading-subtitle {
  color: #928eb8;
}

.loading-title {
  font-size: 32px;
}

.feature-description {
  max-height: 240px;
  overflow-y: scroll;
}

.gap-5 {
  gap: 10px !important;
}
.gap-10 {
  gap: 20px !important;
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.container {
  flex-grow: 1;
  padding: 0 18px;
  max-width: 520px;
}
